.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Toast customization */
.Toastify__toast--success {
  background: #4caf50;
}

.Toastify__toast--error {
  background: #f44336;
}

.Toastify__toast--warning {
  background: #ff9800;
}
